$primaryColor: #e7e7e7;
$secondaryColor: #060606;
$teritaryColor: #312f2f;

$layoutBreakpoint-md: 742px;

$layoutBreakpoint-hero: 955px;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&family=Staatliches&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
